<div style="height:70px;"></div>
<div class="login-box">
	<h1 class="text-center">Login</h1>
	<br>
	<form id="login-form" ng-submit="vm.login()">
		<input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
		<span class="help-block red" ng-show="userHasError">{{ userHelp }}</span>
		<br>
		<input type="submit" value="Login" class="btn btn-primary btn-block">
		<br>
		<a href="#/login" ng-click="vm.toggleNew()">Buat Baru</a>
	</form>
	<div class="sample" ng-show="newVisible">
		<hr>
		<h4>Buat Baru</h4>
		<form id="login-form" ng-submit="vm.registerUser()">
			<input type="text" class="form-control" id="username" placeholder="New Username" ng-model="newUser">
			<span class="help-block red" ng-show="newHasError">{{ newHelp }}</span>
			<br>
			<input type="submit" value="Buat" class="btn btn-primary btn-block">
		</form>
	</div>
</div>